* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: Roboto;
}

button,
input {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}
